$color_text: #181d1d;
a {
  color: inherit;
  text-decoration: inherit;
}
.root {
  background-color: #ecebea;
  border: 1px solid #dedede;
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;

  &:hover {
    border: 1px solid $color_text;
    box-shadow: 0 0 0 1px $color_text;

    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.wrapper {
  padding: 10px 20px 20px;
}

.content {
  margin: 0px 0 50px;
  font-size: 18px;

  p {
    line-height: 36px;
  }
}

.indention {
  padding-left: 40px;
}

.title {
  font-size: 28px;
  margin: 0;

  a {
    text-decoration: none;
    color: #1f2833;

    &:hover {
      color: $color_text;
    }
  }

  &Full {
    font-size: 42px;
    font-weight: 900;
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.statusTodo {
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  & > * {
    padding: 0 10px;
  }
}
